.form-back{
    background: #ffffff;
    border-radius: 40px;
    padding: 40px;
    width: 60%;
    max-width: 500px;
    margin: 100px auto;

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;

}
button {
    background-color: aquamarine;
    padding: 10px 30px;
    border: 0px;
    border-radius: 10px;
}